$blue--light: #47c7fd;
$blue: #2189b4;
$orange: #db6317;
$orange--light: #ef8331;
$white : #fff;

// breakpoints
$sm: 560px;
$md: 960px;
$lg: 1200px;

// Define the default button styles
$buttons: (
  default: (
    background-color: black,
  ),
  blue: (
    background-color: $blue,
  ),
  blue-light: (
    background-color: $blue--light,
  ),
  orange: (
    background-color: $orange,
  ),
  orange-light: (
    background-color: $orange--light,
  )
);