// // breakpoints
$sm: 560px;
$md: 960px;
$lg: 1200px;
$breakpoints: (
  sm: '560px',
  md: '960px',
  lg: '1200px',
  xl: '1440px',
  xxl: '1920px',
);

$buttons: (
  '.button': (
    background-color: black,
    color: white,
    padding: 12px 24px,
    font-size: 1rem,
    border-radius: 10px,
    box-shadow: none,
    text-transform: normal,
    font-weight: normal,
    text-align: center,
    text-decoration: none,
    border: none,
    hover: (  // Nested map for hover styles
      background-color: rgb(88, 135, 237),
      color: rgb(226, 240, 240),
    )
  ),
  '.button--primary': (
    background-color: green,
    hover: (  // Nested map for hover styles
    background-color: rgb(153, 240, 53),
    color: rgb(194, 231, 231),
  )
  )
)!default;

// Define global variables
$container: (
  '.container': (
    max-width: 1420px,
    mobile-horizontal-padding: 5vw
  ),
  '.container--narrow': (
    max-width: 960px,
  )
)!default;

$grid: (  /** mixin still needed to turn trhis into css **/
  '.grid': (
    cols: 2,
    gap: 5vw,
    lg: (
      cols: 3,
    ),
    xl: (
      cols: 4,
    )
  ),
  '.grid--twocol': (
    lg: (
      cols: 2,
    ),
    xl: (
      cols: 2,
    )
  )
)!default;
