// buttons mixins
@import '../example/variables';

@mixin generate-button-classes {
  @each $button-name, $button-properties in $buttons {
    .button--#{$button-name} {
      color: white;
      padding: 10px 30px;
      font-size: inherit;
      border-radius: 5px;
      box-shadow: none;
      text-transform: none;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      border: none;
      
      @each $property, $value in $button-properties {
        #{$property}: $value;
      }

      &:hover {
        background-color: lighten(map-get($button-properties, 'background-color'), 10%);
        cursor: pointer;
      }
    }
  }
}
