@import '../variables';
// Define mixins using global variables
@mixin container($selector) {
  $container-properties: map-get($container, $selector);
  max-width: map-get($container-properties, 'max-width');
  margin: 0 auto;
  padding-left: map-get($container-properties, 'mobile-horizontal-padding');
  padding-right: map-get($container-properties, 'mobile-horizontal-padding');
  box-sizing: content-box;
}

@mixin full-width() {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
