// Define typography mixins
@import '../example/variables';
@mixin font-styles($font-size, $line-height, $margin-top:15px) {
    font-size: $font-size;
    line-height: $line-height;
    margin-top: 15px;
  }

