// Define typography mixins

@import '../variables';

@mixin vw-px($property, $vw, $px) {
  $breakpoint: round(calc(100 * $px / $vw));
  #{$property}: #{$vw}vw;

  @media (min-width: #{$breakpoint}px) {
    #{$property}: #{$px}px;
  }
}
// Define the main mixin for font styles with responsive font-size using vw and px
@mixin font-styles($font-size, $line-height:1.4, $font-family:inherit, $font-weight:normal) {
  font-size:$font-size;
  line-height: $line-height;
  font-family: $font-family;
  font-weight: $font-weight;
}

// Apply typography styles using global variables
@each $style, $properties in $typography {
  #{$style} {
    @include font-styles(
      map-get($properties, font-size),
      map-get($properties, line-height),
      map-get($properties, font-family),
      map-get($properties, font-weight)
    );
  }
}
// Mixin to apply margin-top between elements
@mixin generate-margin-top-classes {
  @each $element, $value in $margin-top-matrix {
    #{$element} {
      margin-top: $value;
    }
  }
}

// remove margn
@mixin remove-margin {
  &:last-child {
    margin-bottom: 0;
  }
}